.venv/
output/
__pycache__/
*.pyc
.env
resources
.DS_Store
*.tar.gz
VisualSolver/
tutor/node_modules/
tutor/dist/
tutor/client/node_modules/
tutor/client/dist/
tutor/server/node_modules/
tutor/server/dist/
